[package]
name = "external-ip"
version = "1.0.1"
authors = ["Dario Meloni <mellon85@gmail.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/mellon85/external-ip"
description = """
Asynchronous library to retrieve the system external IP
"""

[dependencies]
futures = "0.3"
hyper-tls = "0.4"
hyper = "0.13"
http = "0.2"
log = "0.4"
c-ares-resolver = "7"
igd = {version="0.10", optional=true}

[dev-dependencies]
tokio-test = "0.2"
mockall = "0.7"

[features]
default = ["discover_igd"]
discover_igd = ["igd"]
